<%- include('layouts/header') -%>

<div class="jumbotron">
    <h1 class="alert alert-danger">
        Error: <%= data %>
    </h1>
</div>
<script>
    setTimeout(() => {
        location.href = '/'
    }, 2000)
</script>

<%- include('layouts/footer') -%>