<%- include('layouts/header') -%>

<div class="jumbotron">
    <h1 class="alert alert-primary">
        Hasta luego, <%= data.nombre %>!
    </h1>
</div>
<script>
    setTimeout(() => {
        location.href = '/'
    }, 3000)
</script>

<%- include('layouts/footer') -%>