</div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.js" integrity="sha512-bqapgtfTAZwLEfvkONLanNjF3avvKbrcB55QT5I6FDx/N0n/oqpn99bjJVvHdYQsVEVY22ViXJdtdPJYWuY9DA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    const socket = io.connect();

    socket.on('listProducts', data => {
        let html = ``;
        data.forEach(prod => html += `<tr>
                    <td>${prod.id}</td> 
                    <td>${prod.title}</td> 
                    <td>${prod.price}</td>
                    <td><img src="${prod.thumbnail}" style="width: 25%"/>
                    <td>
                        <a class="btn btn-outline-primary"
                    href="/editar/${prod.id}">Editar</a>
                    -
                    <a class="btn btn-outline-danger"
                        onclick="eliminarProducto(${prod.id})">Eliminar</a>
                        </td>
                </tr>`);
        $('#listProductos').html(html);
    });

    socket.on('listMessages', data => {

        console.log("entra", data);
        const autoresSchema = new normalizr.schema.Entity('autor');
        const chatsSchema = new normalizr.schema.Entity('mensajes', {
            autor: autoresSchema
        });

        const denormalizado = normalizr.denormalize(data.result, chatsSchema, data.entities);

        let html = ``;
        denormalizado.mensajes.forEach(mess => html += `<li class="li-style"><span class="email">${mess.autor.id}</span> (<span class="time">${mess.timestamp}</span>): <span class="message">${mess.text}</span> <img src="${mess.autor.avatar}" style="width: 50px; height: 50px; border-radius: 50%;">`);
        $('#listMensajes').html(html);
    });

    function enviarMensaje() {
        moment.locale();
        if ($('#email').val() !== '' && $('#message').val() !== '') {
            let dataAutor = {
                email: $('#email').val(),
                nombre: $('#name').val(),
                apellido: $('#lastname').val(),
                edad: $('#age').val(),
                avatar: $('#avatar').val(),
                alias: $('#alias').val(),
            }
            let data = {
                autor: dataAutor,
                text: $('#message').val(),
            }
            socket.emit('messages', data);
            $('#message').val('');
        } else {
            alert("Complete los campos")
        }
        
    };
    function EnviarDatos() {
        let data = {
            title: $('#accionIngresar #title').val(),
            price: $('#accionIngresar #price').val(),
            thumbnail: $('#accionIngresar #thumbnail').val(),
        }
        // console.log(data);

        socket.emit('newProduct', data);
        // axios.post('/api/productos', data)
        //     .then(resp => {
                $('#accionIngresar #title').val('');
                $('#accionIngresar #price').val('');
                $('#accionIngresar #thumbnail').val('');
                // alert(resp.data.result)
        //         window.location.href = "/"
        //     })
        //     .catch(error => console.error(error));
    }

    function EnviarDatosEditar() {
        let id = $('#accionEditar #id').val()
        let data = {
            title: $('#accionEditar #titleE').val(),
            price: $('#accionEditar #priceE').val(),
            thumbnail: $('#accionEditar #thumbnailE').val(),
        }
        axios.put(`/api/productos/${id}`, data)
            .then(resp => {
                $('#accionEditar #titleE').val('');
                $('#accionEditar #priceE').val('');
                $('#accionEditar #thumbnailE').val('');
                $('#accionEditar #id').val('');
                alert(resp.data.result)
                window.location.href = "/"
            })
            .catch(error => console.error(error));
    }

    function eliminarProducto(id) {
        axios.delete(`/api/productos/${id}`)
            .then(resp => {
                alert(resp.data.result)
                window.location.href = "/"
            })
            .catch(error => console.error(error));
    }

</script>

</html>