<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos Iliana Paris Websockets</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        .scroll-y {
            height: 400px;
            overflow-y: auto;
        }

        .email {
            color: blue;
            font-weight: bold
        }
        .time {
            color: green;
        }
        .message {
            font-style: italic;
        }
        .li-style {
            list-style: none;
        }
    </style>
</head>

<body>
    <div class="container">
            